.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,210,0.6545211834733893) 73%);
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.auth-container {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 30px;
  background-color: rgb(111, 82, 174);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.auth-containe{
  padding: 30px;
  background-color: rgb(208, 149, 93);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.login{
  padding:15px
  
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
.button{
  color: blue;
  background-color: aquamarine;
  padding: 8px;
  
}
.create-recipe {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  color: darkorange;
  
  background: rgb(217, 157, 5);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,0.42482930672268904) 35%, rgba(0,212,255,1) 100%);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(36, 144, 131, 0.1);
  margin: 20px;
  width: 400px;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 3px solid rgb(123, 64, 64);
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 12px;
}
.submit{
padding: 15px;
}

.reg{
  text-align: center;
}
.buttons{
margin-left: 20px;
padding: 10px;

}